// --------------- COLORS ---------------

$maindark: #242424;
$mainbright: antiquewhite;

$blackgreen: #283c36;
$darkgreen: #304b42;
$maingreen: #425f56;
$lightgreen: #bedac4;
$whitegreen: #eafbee;

$red: #ff4d4d; 
$blue: #4d79ff;

$white: #fcf9f0;
$grey: #a3a3a3;
$black: #151515;
$trans-black: rgba(0, 0, 0, 0.05);
$trans-white: rgba(255, 255, 255, 0.05);